# The .env file feature only works when you use the docker-compose up command
# and does not work with docker stack deploy
ENV=development
COMPOSE_PROJECT_NAME=pn
VPN_MASK=172.25.0.0/16
CONSUL_IP=172.25.0.2
